certifi==2023.7.22
charset-normalizer==3.3.1
future==0.18.3
idna==3.4
mysql-connector==2.2.9
prestapyt==0.11.1
python-utils==3.8.1
requests==2.31.0
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.0.7
